@{
    ViewBag.Title = "Home Page";
}
<header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">
        <h1 class="display-1">EVERYTHING YOU NEED IN ONE PLACE</h1>
        <p class="lead pb-3">START BELOW</p>
        <p><a href="/Account/Register/" class="btn btn-primary btn-lg" role="button">REGISTER NOW</a></p>
    </div>
</header>
<div class="text-center">
    <h2 class="display-2">LOCATE THE ZONE YOU LIVE IN</h2>
</div>
<div class="container" align="center">

    <img src="~/images/hardiness-zone-map-transparent.png" />
</div>
<div class="text-center">
    <h4 class="display-3">NOW YOU'RE READY TO START YOUR GARDEN</h4>
    <p><a href="/Plants/Shop/" class="btn btn-primary btn-lg" role="button">FIND PLANTS</a><p/>
</div>

